---
import WideLayout from '@layouts/WideLayout.astro'
import Headline from '@components/Headline.astro'
import { getBooks } from '../utils/getBooks'
import BookPreview from '@components/BookPreview.astro'

let nonFiction = await getBooks('non-fiction')

const title = 'Bookshelf'
const summary = 'Books that have shaped my thinking over the years'
---

<WideLayout title={title} description={summary}>
  <div class="container">
    <Headline title={title} summary={summary} />

    <section class="bleed-sm">
      <div class="books">
        {
          nonFiction.map((book, index) => {
            return (
              <BookPreview
                title={book.title}
                year={book.year}
                cover={book.coverUrl}
                authorsArray={book.authorsArray}
                url={book.url}
              />
            )
          })
        }
      </div>
    </section>
  </div>
</WideLayout>
