---
import BaseLayout from '@layouts/BaseLayout.astro'
import Headline from '@components/Headline.astro'
import { getBooks } from '../utils/getBooks'
import BookPreview from '@components/BookPreview.astro'

let nonFiction = await getBooks('non-fiction')

const title = 'Bookshelf'
const summary = 'Books that have shaped my thinking over the years'
---

<BaseLayout title={title} description={summary}>
  <Headline title={title} summary={summary} />

  <section class="books">
    {
      nonFiction.map((book, index) => {
        return (
          <BookPreview
            title={book.title}
            year={book.year}
            cover={book.coverUrl}
            authorsArray={book.authorsArray}
            url={book.url}
          />
        )
      })
    }
  </section>
</BaseLayout>

<style>
  .books {
    display: grid;
  }
</style>
