---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import Headline from '@components/Headline.astro'
let allPages = await Astro.glob('../pages/*.mdx')
let allPosts = await Astro.glob('./../data/*/*.mdx')

let allContent = allPages.concat(allPosts)

allContent = allContent.filter(function (post) {
  return !post.frontmatter.draft
})

allContent = allContent.sort(
  (a, b) =>
    new Date(b.frontmatter.title).valueOf() -
    new Date(a.frontmatter.title).valueOf(),
)

const title = 'Map of Contents'
const summary = 'Index of all published content on this site'
---

<DefaultLayout title={title} description={summary}>
  <Headline title={title} summary={summary} />
  {
    allContent.map((post, index) => {
      const href = `/${post.file.split('/').pop().split('.').shift()}`

      return (
        <article class="mt-8">
          <h2 class="mt-0 leading-2xs">
            <a href={href} class="no-underline text-sm">
              {post.frontmatter.title}
            </a>
            <span class="text-2xs fw-light text-secondary">
              {post.frontmatter.type}
            </span>
          </h2>
          <p class="mt-0 leading-2xs">
            <code class="text-2xs mt-1 fw-base">{Astro.url.origin + href}</code>
          </p>
        </article>
      )
    })
  }
</DefaultLayout>

<style>
  h2 {
    display: inline-flex;
    align-items: center;
  }

  h2 span {
    margin-left: var(--spacing-2);
  }
</style>
