---
import { Picture } from 'astro-imagetools/components'

const { title, year, cover, authorsArray, url } = Astro.props
const authors = authorsArray.map((author, i, arr) => {
  if (arr.length - 1 === i) {
    return author
  } else {
    return author + ', '
  }
})
---

<article class="book mt-12">
  {/* link overlay */}

  <div class="cover">
    <a
      href={url}
      target="_blank"
      rel="noreferrer"
      title={'Open ' + title + ' on Goodreads'}
    >
      <div class="shadow-lg">
        <Picture src={cover} alt={title + ' (book cover)'} layout="fullWidth" />
      </div>
    </a>
  </div>
  <div>
    {/* <span class="text-xs">{year}</span> */}
    <h3 class="text-xs leading-2xs mt-4 fw-medium">{title}</h3>
    <div class="text-2xs mt-1 text-secondary">{authors}</div>
  </div>
</article>

<style>
  .cover {
    opacity: 0.9;
  }

  .cover {
    transition: all 0.2s ease-in-out;
  }

  .cover:hover {
    transform: scale(1.005);
    opacity: 1;
  }

  .cover:hover .link {
    opacity: 1;
  }
</style>

<!-- mb-20 inline-flex items-center rounded-lg bg-white/95 py-1 px-4 shadow-lg text-sm -->
