---
const { id } = Astro.props
// const previewUrl = `https://i.vimeocdn.com/video/${id}.webp?mw=1600&mh=900&q=70`
const previewUrl = `https://vumbnail.com/${id}.jpg`
---

<div class="embed">
  <lite-vimeo videoid={id} style={`background-image: url('${previewUrl}');`}>
    <div class="ltv-playbtn"></div>
  </lite-vimeo>
</div>

{previewUrl}

<script is:inline defer>
  document.addEventListener('DOMContentLoaded', () => {
    if (!customElements.get('lite-vimeo'))
      import('http://unpkg.com/lite-vimeo-embed')
  })
</script>
